*{
    margin: 0;
    padding: 0;
}
.homepage{
    width:100%;
    z-index: -1;
    margin-top: 70px;

    height: auto;
   
}
/* .left{
        width: 30%;
    height: calc(100vh - 60vh);
    height: 20rem;
    background-color: rgb(216, 215, 250);
    border: 2px solid green;
} */
/* .right{
    width: 40%;
    height: 20rem;
    border: 2px solid green;
}
#top{
    width: 90%;
    font-size: 60px;
    font-weight: 700;
    
}
#bottom{
    width: 80%;
    padding-top: 20px;
    font-size: 20px;
} */
/* @media (max-width:1320px) {
    .right{
        width: 50%;
    }
}
@media (max-width:1320px) {
    .right{
        width: 50%;
    }
}@media (max-width:1050px) {
    #top{
       font-size: 50px;
       font-weight: 700;
    }
    #bottom{
        font-size: 18px;
    }
} */
/* .post{
    width: 100%;
    align-items: center;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    min-height: 60vh;   
} */
 /* img{
   margin-left: 10%;
   height: 300px;
  width: 80%;
} */
.AllPost{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 70%;
    /* background-color: red; */
    height: auto;
    padding-bottom: 100px;
    margin-left: 15%;
    padding-top: 10px;
    gap: 100px;
}
.post-card{
    width: 250px;
    height: auto;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.post-card-image{
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgb(190, 181, 181);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.post-card img{
    margin-top: 0vh;
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 20px;
backdrop-filter: blur(20px);
    
}




/* @media (max-width:750px) {
    .homepage{
        flex-direction: column;
        gap: 2px;
        width: 100%;
    }
    #bottom{
        width: 100%;
        background-color: red;
    }
} */