*{
    margin:0;
    padding: 0;
}
#navbar{
    width: 100%;
    height:70px;
    /* background-color: #30073B; */
    background-color: #190582;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
#toggler,#tog{
    display: none;
}
#navmenu{
    /* color:#BF6AF4; */
    color:white;
    /* background-color: red; */
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    transition: all  0.3s;
    overflow: hidden;
}
#close{
    display: none;
}

#toggler:checked~#tog #menu{
    display: none;
}
#toggler:checked~#tog #close{
    display: block;
}

#toggler:checked~#navmenu{
    height: 190px;
    background-color: #d1cde55a;
    backdrop-filter: blur(20px);
}
@media (max-width:1000px) {
    #navmenu{
        font-size: 18px;
    }
    
}
@media (max-width:750px) {
    #navmenu{
        position: absolute;
        top: 70px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width: 100%;
        left: 0px;
        color: black;
        /* background-color: red; */
        /* overflow: hidden; */
    }
    #tog{
        display: block;
        color: white;
        padding-right: 20px;
    }
    
}
